[access]
	inheritFrom = All-Projects
[project]
	description = Instagram scripts for conducting prize draws. 
[access "refs/*"]
	owner = group user/ibumarskov
[access "refs/for/refs/*"]
	read = group user/ibumarskov
	push = group user/ibumarskov
	label-Code-Review = -2..+2 group user/ibumarskov
	label-Verified = -1..+1 group user/ibumarskov
	rebase = group user/ibumarskov
	removeReviewer = group user/ibumarskov
	submit = group user/ibumarskov
[access "refs/heads/*"]
	read = group user/ibumarskov
	create = group user/ibumarskov
	push = +force group user/ibumarskov
	pushMerge = group user/ibumarskov
[access "refs/tags/*"]
	push = group user/ibumarskov
	push = +force group user/ibumarskov
